/* ALL PAGE */

* {
    margin: 0;
    padding: 0;
}

body main article {
    padding: calc(5em + 100px) calc(10em + 100px) calc(5em + 100px) calc(10em + 100px);
}

header #logo {
    width: 240px;
    height: 140px;
    margin-right: 100px;
}

header #container1 {
    display: flex;
    flex-direction: row;
    align-items: center;
}

header #container2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 100px;
    a {
        font-size: 30px;
    }
}

header #navigation nav{
    width: 100%;
    height: 140px;
    margin-bottom: calc(5em + 10px);
}

header .nav-link {
   font-size: large; 
}

header #navbar-navbar {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

header #panier {
    border: 4px solid white;
    border-radius: 10px;
    padding: 8px;
}

header #panier:hover {
    transform: scale(1.2);
}

footer {
    color: white;
}

footer #maps{
width: 200px;
height: 200px;
}

footer h6 a {
    text-decoration: none;
    color: white;
}

/* PAGE INDEX */
.carousel-inner .carousel-item img{
    width: 30em;
    height: auto;
}


/* PAGE CARTE */

#carte #main-carte {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    .lien-carte {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 30em;
        height: 15em;
        border-radius: 30px;
        margin: calc(2em + 20px) calc(5em + 30px) calc(2em + 20px) calc(5em + 30px);
    
    }
}

#carte #main-carte .lien-carte:hover {
    transform: scale(1.2);
}

#carte #main-carte img {
    border: 3px solid;
    border-color: red rgb(255, 255, 255) rgb(10, 181, 1);
    width: auto;
    height: 15em;
    border-radius: 30px;
    position: relative;
}

#carte #main-carte h3 {
    color: black;
    position: absolute;
    background-color: white;
    border-radius: 20px;
    padding: 10px;
}



/* BOISSON */
#boisson #main-boisson {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 100px;
}

#boisson #main-boisson span {
    font-size: 40px;
}

#boisson #main-boisson button {
    font-size: 50px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

#boisson #main-boisson button:hover {
    transform: scale(1.1); 
}


/* CUSTOM */


#custom #main-custom h2 {
    text-align: center;
    text-decoration: underline;
    font-size: 35px;
}

#custom #main-custom h3 {
    text-align: center;
    margin-top: 4%;
    font-size: 32px;
}

#custom #main-custom #container1 {
    margin: 2rem;
    padding: 1rem 1rem;
    text-align: center;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 50px;
    font-size: 20px;
}

#custom #main-custom h4 {
    margin-left: 5%;
    font-size: 30px;
}

#custom #main-custom #container2 {
    margin: 2rem;
    padding: 1rem 1rem;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    gap: 100px;
}

#custom #main-custom #container3 {
    margin: 2rem;
    padding: 1rem 1rem;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    gap: 150px;
}
#custom #main-custom button {
    background-color: #4caf50;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
}
#custom #main-custom #block5 {
    position: relative;
    text-align: center;
}
#custom #main-custom img {
    position: absolute;
    margin-left: 18%;
    bottom: 40%;
} 